//=============/=============/
.header {
	&__top {
		min-height: 70px;
		padding: 20px 0;
		background-color: $mainDarkColor;

		&-inner {
			@include flex-center-sb;
		}
	}

	&__bottom {
		background-color: $sectionBgColor;

		&-inner {
			padding: 20px 0;
			@include flex-center-sb;
		}
	}

	&__action {
		@include flex-v-center;
	}

	&__location {
		margin-right: 55px;
	}

	&__phone {
		margin-right: 88px;
	}
}

//=============/=============/
.menu {
	&__list {
		@include flex;
		flex-wrap: wrap;
		row-gap: 10px;
		column-gap: 60px;
	}

	&__link {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: $whiteColor;
	}
}

//=============/=============/
.user {
	padding-left: 20px;
	color: $whiteColor;
	@include flex-h-center;

	&__icon {
		width: 22px;
		height: 28px;
		fill: currentColor;
		margin-right: 15px;
	}

	&__caption {
		font-weight: 600;
		line-height: 22px;
		color: currentColor;
	}
}

//=============/=============/
.logo {
	&__icon {
		width: 190px;
		height: 43px;
		fill: $mainDarkColor;
	}
}

//=============/=============/
.search-header {
	position: relative;
	width: 377px;
	height: 41px;

	&__btn {
		position: absolute;
		left: 6px;
		top: 50%;
		transform: translateY(-50%);
		@include flex-all-center;
		padding: 10px;
	}

	&__icon {
		width: 16px;
		height: 16px;
		fill: $darkLightColor;
	}

	&__input {
		width: 100%;
		height: 100%;
		border-radius: 3px;
		border: 1px solid $darkLightColor;
		background-color: rgba(7, 7, 7, 0.03);
		padding: 0 42px;
		color: $mainDarkColor;

		&::placeholder {
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			color: $darkLightColor;
		}
	}
}

//=============/=============/
.location {
	color: $mainDarkColor;
	@include flex-h-center;

	&__icon {
		width: 17px;
		height: 25px;
		fill: currentColor;
		margin-right: 10px;
	}

	&__caption {
		font-weight: 600;
		line-height: 22px;
		color: currentColor;
	}
}

//=============/=============/
.phone {
	font-weight: 600;
	line-height: 22px;
	color: $blackColor;

	&__icon {
		width: 13px;
		height: 20px;
		fill: $accentColor;
		margin-left: 10px;
	}

	&__text {
		font-weight: 700;
		color: $accentColor;
		margin-top: 5px;
	}
}

//=============/=============/
.cart {
	&__image {
		position: relative;
		display: flex;
		justify-content: flex-start;
	}

	&__icon {
		width: 37px;
		height: 37px;
		fill: $blackColor;
	}

	&__quantity {
		position: absolute;
		right: 0;
		top: 0;
		@include flex-all-center;
		width: 14px;
		height: 14px;
		background-color: $accentColor;
		border-radius: 100%;
		color: $whiteColor;
		font-size: 10px
	}

	&__price {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: $blackColor;
	}

	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: $accentColor;
	}
}
