
:root {
  // base
  // --font-family: "SyneMono", sans-serif;

  // colors
  --color-light: #fff;

	--color-grey: rgb(170, 170, 170);
}

//=============/=============/=============
//colors
$blackColor: #000000;
$mainDarkColor: #141414;
$darkLightColor: rgba(0, 0, 0, 0.5);
$silverColor: #ababab;
$sectionBgColor: #ecf1f2;
// $accentColor: #e8aa31;
$accentColor: #67A712;
$whiteColor: #ffffff;
$whiteTextColor: rgba(255, 255, 255, 0.7);

//=============/=============/=============
//base
	$fontSize: 18px;
	$containerWidth: 1620px;
	$paddingWidth: 15px;